<div class="w-full">
  <a class="bg-indigo-600 text-white fixed bottom-10 right-10" href="/links">
    Other Links...
  </a>
  <div>
    <h1 class="font-bold text-4xl">
      <%= @link.title %>
    </h1>
    <div class="break-all italic" style="height:3em;overflow:hidden">
      (<%= @link.href %>)
    </span>
  </div>

  <div>
    <% @link.shortened_links.each do |shortened_link| %>
      <a class="flex w-full flex-col sm:flex-row" href="/picos/<%= shortened_link.id %>">
        <div class="flex-1 w-full truncate rtl text-left">
          <%= request.base_url %>/<%= shortened_link.path %>
        </div>
        <%# <div class="w-full sm:w-auto">
          View Report
        </div> %>
      </a>
    <% end %>

  </div>
</div>
