<div class="">
  <h1 class="font-bold text-4xl">
    <%= @link.title %>
  </h1>
  <a href="<%= @link.href %>">
    <%= @link.href %>
  </a>

  <div>

    <% @link.shortened_links.each do |shortened_link| %>
      <a class="flex" href="/<%=shortened_link.path%>">
        <div><%=shortened_link.path%></div>
      </a>
    <% end %>

  </div>
</div>
