<div class="w-full flex flex-col max-w-sm">
  <a class="bg-indigo-600 text-white fixed bottom-10 right-10" href="/links">
    Other Links...
  </a>
  <div>
    <h1 class="font-bold text-4xl">
      <%= @link.title %>
    </h1>
    <div class="break-all italic" style="height:3em;overflow:hidden">
      (<%= @link.href %>)
    </span>
  </div>

  <div class="flex flex-col gap-y-2">
    <% @link.shortened_links.each do |shortened_link| %>
      <a class="flex flex-col w-full border rounded-xl px-3 py-1" href="/picos/<%= shortened_link.id %>">
        <div class="flex-1 w-full truncate rtl text-left">
          <%= request.base_url %>/<%= shortened_link.path %>
        </div>
      </a>
    <% end %>

  </div>
</div>
