<div class="w-full flex flex-col max-w-sm">
  <a class="bg-indigo-600 text-white fixed bottom-10 right-10" href="<%= link_path(@shortened_link.link)%>">
    Other Picos to this Link...
  </a>
  <div>
    <h1 class="font-bold text-4xl">
      <%= @shortened_link.link.title %>
    </h1>
    <div class="break-all italic" style="height:3em;overflow:hidden">
      (<%= @shortened_link.link.href %>)
    </div>
  </div>
  <div class="w-full p-4 border flex my-2 rounded-xl select-all bg-indigo-600 text-white" onclick="navigator.clipboard.writeText('<%= request.base_url %>/<%= @shortened_link.path %>');document.getElementById('copy').style.display ='none';document.getElementById('check').style.display =''">
    <p class="mx-auto truncate rtl text-left select-all">
      <%= request.base_url %>/<%= @shortened_link.path %>
    </p>
    <div class="flex mx-2">
      <i id="copy" class="my-auto fa fa-clone" aria-hidden="true"></i>
      <i id="check" class="my-auto fa fa-check-square" aria-hidden="true" style="display:none"></i>

    </div>
  </div>

  <div class="flex flex-col gap-y-2" id="analytics" data-value="<%= @shortened_link.id %>">
    <%= render "shortened_links/analytics" %>
  </div>
</div>


<script>
  var id = "<%= @shortened_link.id %>"

  var checkAnalytics = () => {
    analyticdiv = document.getElementById("analytics")
    if (analyticdiv){
      fetch("/analytics/"+analyticdiv.getAttribute('data-value'))
        .then(response => response.text())
        .then(response => {
            document.getElementById("analytics").innerHTML = response;
        });
    } else {
      clearInterval(window.myInterval);
    }
  };
  window.myInterval = setInterval(checkAnalytics, 2000);
</script>